<!-- HTML template for the links page -->
{% extends 'gameapp/base.html' %}

<!-- Title that appears for the page -->
{% block title %}
Links
{% endblock %}

<!-- Content that appears towards the top of the screen -->
{% block detail %}
Links
{% endblock %}

{% block content %}
    <h2>Links to Gaming Websites</h2>
    <br>
    <!-- Links listed as bulletpoints -->
    <ul>
    <li><a href="https://boardgamegeek.com">Board Game Geek</a></li>
    <li><a href="https://boardgaming.com">Boardgaming</a></li>
    </ul>
{% endblock %}